<section class="post-page">
  <div class="wrapper" *ngIf="post; else loading">
    <h2 class="post-page__title">{{post.title}}</h2>
    <mat-card class="post-page__card card">
      <div class="card__wrapper">
        <div class="card__img">
          <quill-view-html [content]="post.img"></quill-view-html>
        </div>
        <mat-card-actions>
          <button [routerLink]="['/']" mat-raised-button color="primary">Вернуться назад</button>
          <button [routerLink]="['/edit', postId.id]" mat-raised-button color="accent">Настройки</button>
        </mat-card-actions>
      </div>
      <mat-card-content class="card__content">
        <quill-view-html [content]="post.content"></quill-view-html>
      </mat-card-content>
    </mat-card>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</section>

